In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup
import os,random,sys,time
from urllib.parse import urlparse
import requests

In [2]:
browser=webdriver.Chrome('chromedriver.exe')

In [3]:
browser.get('https://www.linkedin.com/uas/login')

In [4]:
file=open('config.txt')
lines=file.readlines()
username=lines[0]
password=lines[1]

In [5]:
elementID=browser.find_element_by_id('username')
elementID.send_keys(username)

In [6]:
elementID=browser.find_element_by_id('password')
elementID.send_keys(password)

In [7]:
elementID.submit()

In [8]:
#link='https://www.linkedin.com/in/bijosh-t-27670826/'
link=input("Enter the LinkedIn profile id")

In [9]:
browser.get(link)

In [10]:
SCROLL_PAUSE_TIME=5
last_height=browser.execute_script('return document.body.scrollHeight')
for i in range(3):
    browser.execute_script('window.scrollTo(0,document.body.scrollHeight)')
    time.sleep(SCROLL_PAUSE_TIME)
    new_height=browser.execute_script('return document.body.scrollHeight')
    if new_height==last_height:
        break
    last_height=new_height

In [11]:
src=browser.page_source

In [12]:
soup = BeautifulSoup(browser.page_source, 'lxml')

In [13]:
name_div=soup.find('div',{'class':'flex-1 mr5'})

In [14]:
name_loc=name_div.find_all('ul')
name=name_loc[0].find('li').get_text().strip()
name

'Bijosh T'

In [15]:
exp_section=soup.find('section',{'id':'experience-section'})

In [16]:
exper=exp_section.find_all('div',{'class':"pv-entity__summary-info pv-entity__summary-info--background-section"})

In [17]:
title=[]
company=[]
tenure=[]
for job_elem in exper:
    title.append(job_elem.find('h3').get_text().strip())
    company.append(job_elem.find_all('p')[1].get_text().strip())
    tenure.append(job_elem.find_all('span')[3].get_text().strip())

In [18]:
import pandas as pd
df = pd.DataFrame(
    {
    'Title': title,
     'Company': company,
     'Tenure': tenure
    })

In [19]:
idx=0
df.insert(loc=idx, column='Name', value=name)
df

       Name              Title             Company        Tenure
0  Bijosh T  Advanced Engineer  Zebra Technologies   4 yrs 4 mos
1  Bijosh T          Tech Lead  Motorola Solutions  5 yrs 10 mos
2  Bijosh T                SSE        L&T Infotech   3 yrs 7 mos